// Default color
$c-b-100: rgb(34, 34, 34);
$c-b-75: rgba(34, 34, 34, 0.75);
$c-b-50: rgba(34, 34, 34, 0.5);
$c-b-25: rgba(34, 34, 34, 0.25);

$c-w-100: rgb(245, 245, 245);
$c-w-75: rgba(245, 245, 245, 0.75);
$c-w-50: rgba(245, 245, 245, 0.5);
$c-w-25: rgba(245, 245, 245, 0.25);

// Main color
$c-1-100: rgb(49, 39, 129);
$c-1-75: rgba(49, 39, 129, 0.75);
$c-1-50: rgba(49, 39, 129, 0.5);
$c-1-25: rgba(49, 39, 129, 0.25);
$c-1-10: rgba(49, 39, 129, 0.1);


// Secondary color
$c-2-100: rgba(61, 215, 56, 1);
$c-2-75: rgba(61, 215, 56, 0.75);
$c-2-50: rgba(61, 215, 56, 0.5);
$c-2-25: rgba(61, 215, 56, 0.25);
$c-2-10: rgba(61, 215, 56, 0.1);

// Terciary color
$c-3-100: rgb(19, 19, 39);
$c-3-75: rgba(22, 22, 22, 0.75);
$c-3-50: rgba(22, 22, 22, 0.5);
$c-3-25: rgba(22, 22, 22, 0.25);
$c-3-10: rgba(22, 22, 22, 0.1);

$c-4-100: #1e1e1e;

$c-5-100: rgb(255, 0, 148);

$hs: 2.5rem;

// Font size
$fs-huge: 5rem;
$fs-1: 3rem;
$fs-2: 2.4rem;
$fs-3: 2rem;
$fs-4: 1.4rem;
$fs-5: 1.2rem;
$fs-6: 1rem;

// Margin
$m-1: 7.5rem;
$m-2: 5rem;
$m-3: 3.75rem;
$m-4: 2.5rem;
$m-5: 1.25rem;
$m-6: 1rem;
$m-7: 0.8rem;
$m-8: 0.6rem;
$m-9: 0.4rem;
$m-10: 0.2rem;

.bg {
    &-white {
        background-color: $c-w-100;
    }

    &-black {
        background-color: $c-4-100;
    }

    &-primary {
        background-color: $c-1-100;
    }

    &-secondary {
        background-color: $c-2-100;
    }

    &-terciary {
        background-color: $c-3-100;
    }
}

.mv {
    &-1 {
        margin-top: $m-1;
        margin-bottom: $m-1;
    }

    &-2 {
        margin-top: $m-2;
        margin-bottom: $m-2;
    }

    &-3 {
        margin-top: $m-3;
        margin-bottom: $m-3;
    }

    &-4 {
        margin-top: $m-4;
        margin-bottom: $m-4;
    }

    &-5 {
        margin-top: $m-5;
        margin-bottom: $m-5;
    }
}

.mh {
    &-1 {
        margin-left: $m-1;
        margin-right: $m-1;
    }

    &-2 {
        margin-left: $m-2;
        margin-right: $m-2;
    }

    &-3 {
        margin-left: $m-3;
        margin-right: $m-3;
    }

    &-4 {
        margin-left: $m-4;
        margin-right: $m-4;
    }

    &-5 {
        margin-left: $m-5;
        margin-right: $m-5;
    }
}

.pv {
    &-1 {
        padding-top: $m-1;
        padding-bottom: $m-1;
    }

    &-2 {
        padding-top: $m-2;
        padding-bottom: $m-2;
    }

    &-3 {
        padding-top: $m-3;
        padding-bottom: $m-3;
    }

    &-4 {
        padding-top: $m-4;
        padding-bottom: $m-4;
    }

    &-5 {
        padding-top: $m-5;
        padding-bottom: $m-5;
    }
}

.ph {
    &-1 {
        padding-left: $m-1;
        padding-right: $m-1;
    }

    &-2 {
        padding-left: $m-2;
        padding-right: $m-2;
    }

    &-3 {
        padding-left: $m-3;
        padding-right: $m-3;
    }

    &-4 {
        padding-left: $m-4;
        padding-right: $m-4;
    }

    &-5 {
        padding-left: $m-5;
        padding-right: $m-5;
    }
}
