// Custom Font Bold
@font-face {
    font-family: Gotham;
    src: url("@/assets/fonts/Gotham-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

// Custom Font Lighter
@font-face {
    font-family: Gotham;
    src: url("@/assets/fonts/Gotham-Light.otf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

// Custom Font Regular
@font-face {
    font-family: Gotham;
    src: url("@/assets/fonts/Gotham-Medium.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 16px;
    font-family: "Gotham";
    font-weight: bold;
}

@media screen and (max-width: 1600px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 1367px) {
    :root {
        font-size: 12px;
    }
}
